# Dependencies
node_modules/

# Environment files
.env
.env.*
.env.example
.env.production.example

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
logs/
*.log

# Build & test
coverage/
dist/

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# OS
Thumbs.db
*.suo

# Docker secrets / runtime
*.pem
*.key
scripts/